<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE sqlMap 
    PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" 
    "http://www.ibatis.com/dtd/sql-map-2.dtd">
<sqlMap namespace="com.dao.videomonitor.TVmDecoderMapper">
	<typeAlias alias="TVmDecoder" type="com.entity.videomonitor.TVmDecoder" />
	<resultMap class="TVmDecoder" id="BaseResultMap">
		<result property="decoderid" jdbcType="VARCHAR" column="DECODERID" />
		<result property="ip" jdbcType="VARCHAR" column="IP" />
		<result property="port" jdbcType="DECIMAL" column="PORT" />
		<result property="username" jdbcType="VARCHAR" column="USERNAME" />
		<result property="password" jdbcType="VARCHAR" column="PASSWORD" />
		<result property="devname" jdbcType="VARCHAR" column="DEVNAME" />
		<result property="devictype" jdbcType="VARCHAR" column="DEVICTYPE" />
		<result property="ordernumber" jdbcType="DECIMAL" column="ORDERNUMBER" />
		<result property="managementagency" jdbcType="VARCHAR" column="MANAGEMENTAGENCY" />
		<result property="branch" jdbcType="VARCHAR" column="BRANCH" />
	</resultMap>
	<select id="selectDecoderByPrimaryKey" parameterClass="java.lang.String"
		resultMap="BaseResultMap">
		select * from T_VM_DECODER where decoderid=#decoderid#
	</select>
	<select id="testDecoderExistById" parameterClass="java.lang.String" resultClass="int">
		select count(*) from T_VM_DECODER where decoderid = #decoderid#
	</select>
	<delete id="deleteDecoderByPrimaryKey" parameterClass="java.lang.String">
		delete from T_VM_DECODER
		where DECODERID = #decoderid#
	</delete>
	<insert id="insertDecoder" parameterClass="TVmDecoder">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Apr 01 
			00:04:00 CST 2015. -->
		insert into T_VM_DECODER (DECODERID, 
		IP, PORT,
		USERNAME, PASSWORD,
		DEVNAME,DEVICTYPE,
		ORDERNUMBER,
		MANAGEMENTAGENCY,
		BRANCH)
		values
		(#decoderid#, 
		#ip#, #port#,
		#username#, #password#,
		#devname#,#devictype#,
		#ordernumber#,
		#managementagency#, 
		#branch#)
	</insert>
	<insert id="insertDecoderSelective" parameterClass="TVmDecoder">
		insert into T_VM_DECODER
		<dynamic open="(" close=")">
			<isNotNull property="decoderid">DECODERID</isNotNull>
			<isNotNull property="ip" prepend=",">IP</isNotNull>
			<isNotNull property="port" prepend=",">PORT</isNotNull>
			<isNotNull property="username" prepend=",">USERNAME</isNotNull>
			<isNotNull property="password" prepend=",">PASSWORD</isNotNull>
			<isNotNull property="devname" prepend=",">DEVNAME</isNotNull>
			<isNotNull property="devictype" prepend=",">DEVICTYPE</isNotNull>
			<isNotNull property="ordernumber" prepend=",">ORDERNUMBER</isNotNull>
			<isNotNull property="managementagency" prepend=",">MANAGEMENTAGENCY</isNotNull>
			<isNotNull property="branch" prepend=",">BRANCH</isNotNull>
		</dynamic>
		<dynamic prepend="values" open="(" close=")">
			<isNotNull property="decoderid" prepend=",">#decoderid#</isNotNull>
			<isNotNull property="ip" prepend=",">#ip#</isNotNull>
			<isNotNull property="port" prepend=",">#port#</isNotNull>
			<isNotNull property="username" prepend=",">#username#</isNotNull>
			<isNotNull property="password" prepend=",">#password#</isNotNull>
			<isNotNull property="devname" prepend=",">#devname#</isNotNull>
			<isNotNull property="devictype" prepend=",">#devictype#</isNotNull>
			<isNotNull property="ordernumber" prepend=",">#ordernumber#</isNotNull>
			<isNotNull property="managementagency" prepend=",">#managementagency#</isNotNull>
			<isNotNull property="branch" prepend=",">#branch#</isNotNull>
		</dynamic>
	</insert>
	<update id="updateDecoderByPrimaryKeySelective" parameterClass="TVmDecoder">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Apr 01 
			00:04:00 CST 2015. -->
		update T_VM_DECODER
		<dynamic prepend="set">
			<isNotNull property="ip" prepend=",">IP = #ip#</isNotNull>
			<isNotNull property="port" prepend=",">PORT = #port#</isNotNull>
			<isNotNull property="username" prepend=",">USERNAME = #username#</isNotNull>
			<isNotNull property="password" prepend=",">PASSWORD = #password#</isNotNull>
			<isNotNull property="devname" prepend=",">DEVNAME = #devname#</isNotNull>
			<isNotNull property="devictype" prepend=",">DEVICTYPE = #devictype#</isNotNull>
			<isNotNull property="ordernumber" prepend=",">ORDERNUMBER = #ordernumber#</isNotNull>
			<isNotNull property="managementagency" prepend=",">MANAGEMENTAGENCY = #managementagency#</isNotNull>
			<isNotNull property="branch" prepend=",">BRANCH = #branch#</isNotNull>
		</dynamic>
		where DECODERID = #decoderid#
	</update>
	<select id="selectDecoderByPage" parameterClass="java.util.Map" resultMap="BaseResultMap">
		select t1.* from
		(select
		i.*,
		row_number() over(order by i.DEVNAME) rk
		from T_VM_DECODER i
		where 0 = 0
		<dynamic>
			<isNotNull property="cond.managementagency">
			and #cond.managementagency# =
			i.MANAGEMENTAGENCY
			</isNotNull>
			<isNotNull property="cond.branch">
			and #cond.branch# =
			i.BRANCH
			</isNotNull>
			<isNotNull property="cond.atype">
				<isEqual property="cond.atype" compareValue="1">
					and i.decoderid=#cond.avalue#
  				</isEqual>
  				<isEqual property="cond.atype" compareValue="2">
					and i.ip=#cond.avalue#
  				</isEqual>
  				<isEqual property="cond.atype" compareValue="3">
					and i.devname like '%$cond.avalue$%'
  				</isEqual>
			</isNotNull>
		</dynamic>
		)t1
		where t1.rk &gt;= #cond.fromRow# and t1.rk &lt;=
		#cond.toRow#
	</select>
	<select id="selectDecoderByPageRowCount" parameterClass="map"
		resultClass="int">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Apr 01 
			00:04:00 CST 2015. -->
		select
		count(*)
		from T_VM_DECODER where 0 = 0
		<dynamic>
			<isNotNull property="cond.managementagency">
			and #cond.managementagency# =
			MANAGEMENTAGENCY
			</isNotNull>
			<isNotNull property="cond.branch">
			and #cond.branch# =
			BRANCH
			</isNotNull>
			<isNotNull property="cond.atype">
				<isEqual property="cond.atype" compareValue="1">
					and decoderid=#cond.avalue#
  				</isEqual>
  				<isEqual property="cond.atype" compareValue="2">
					and ip=#cond.avalue#
  				</isEqual>
  				<isEqual property="cond.atype" compareValue="3">
					and devname like '%$cond.avalue$%'
  				</isEqual>
			</isNotNull>
		</dynamic>
	</select>
</sqlMap>