<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE sqlMap 
    PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" 
    "http://www.ibatis.com/dtd/sql-map-2.dtd">
<sqlMap namespace="com.dao.videomonitor.TVmIva">
	<!-- 通过typeAlias使得我们在下面使用Student实体类的时候不需要写包名 -->
	<typeAlias alias="TVmIva" type="com.entity.videomonitor.TVmIva" />
	<typeAlias alias="page" type="com.common.page.Page" />
	
		<insert id="insertIvaSelective" parameterClass="TVmIva">    
	    insert into T_VM_IVA
	    <dynamic open="(" close=")">
	    	<isNotNull property="ivaID">IVAID</isNotNull>
	    	<isNotNull property="ip" prepend=",">IP</isNotNull>
	    	<isNotNull property="port" prepend=",">PORT</isNotNull>
			<isNotNull property="managementagency" prepend=",">MANAGEMENTAGENCY</isNotNull>
			<isNotNull property="name" prepend=",">NAME</isNotNull>
			<isNotNull property="branch" prepend=",">BRANCH</isNotNull>
	    </dynamic>
	    <dynamic prepend="values" open="(" close=")">
	    	<isNotNull property="ivaID" prepend=",">#ivaID#</isNotNull>
	    	<isNotNull property="ip" prepend=",">#ip#</isNotNull>
	    	<isNotNull property="port" prepend=",">#port#</isNotNull>
			<isNotNull property="managementagency" prepend=",">#managementagency#</isNotNull>
			<isNotNull property="name" prepend=",">#name#</isNotNull>
			<isNotNull property="branch" prepend=",">#branch#</isNotNull>
	    </dynamic>
	  </insert>
		<sql id="findIvaByPageCondition">
		<isNotEmpty property="objCondition">
			<isNotEmpty property="objCondition.branch">
				<![CDATA[
					 AND BRANCH = #objCondition.branch#
		    	]]>
			</isNotEmpty>
			<isNotEmpty property="objCondition.managementagency">
				<![CDATA[
				    AND MANAGEMENTAGENCY =#objCondition.managementagency#    
		    	]]>
			</isNotEmpty>
		</isNotEmpty>
	</sql>

	<select id="queryTvmIvaByPage" resultClass="TVmIva"
		parameterClass="page">
	<![CDATA[
		select  
			IVAID,IP,PORT,MANAGEMENTAGENCY,NAME,BRANCH,subComName branchName,mntMentName mgtName
		from 
		(
		 select rownum r, t.* 
		 from 
		  (
		    select iva.*,t_org.subComName,t_org.mntMentName

						from T_VM_IVA iva left join (SELECT p_org.ORGID branchID,c_org.ORGID mgtID,p_org.ORGNAME subComName,c_org.ORGNAME mntMentName 

									from T_AUT_ORGANIZATION p_org join T_AUT_ORGANIZATION c_org on c_org.SUPORGID=p_org.ORGID where p_org.SUPORGID is not null) t_org

						on iva.BRANCH=t_org.BRANCHID and iva.MANAGEMENTAGENCY=t_org.MGTID
		   where 1=1
	]]>
		<dynamic>
			<include refid="findIvaByPageCondition" />
		</dynamic>
	<![CDATA[
		  ) t
		  where rownum <= (#offset# * #size#)
		)where r>  ((#offset#-1) * #size#)
	 ]]>
	</select>
  
<select id="selectIvaByPage" parameterClass="java.util.Map" resultClass="TVmIva">
		select t1.* from
		(select
		i.*,
		row_number() over(order by i.IVAID) rk
		from T_VM_IVA i
		where 0 = 0
		<dynamic>
			<isNotNull property="cond.managementagency">
			and #cond.managementagency# =
			i.MANAGEMENTAGENCY
			</isNotNull>
			<isNotNull property="cond.branch">
			and #cond.branch# =
			i.BRANCH
			</isNotNull>
			<isNotNull property="cond.atype">
				<isEqual property="cond.atype" compareValue="1">
					and i.ivaID=#cond.avalue#
  				</isEqual>
  				<isEqual property="cond.atype" compareValue="2">
					and i.ip=#cond.avalue#
  				</isEqual>
  				<isEqual property="cond.atype" compareValue="3">
					and i.name like '%$cond.avalue$%'
  				</isEqual>
			</isNotNull>
		</dynamic>
		)t1
		where t1.rk &gt;= #cond.fromRow# and t1.rk &lt;= #cond.toRow#
	</select>

	<select id="selectIvaByPageRowCount" parameterClass="map"
		resultClass="int">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Apr 01 
			00:04:00 CST 2015. -->
 		select
		count(*)
		from T_VM_IVA where 0 = 0
		<dynamic>
			<isNotNull property="cond.managementagency">
			and #cond.managementagency# =
			MANAGEMENTAGENCY
			</isNotNull>
			<isNotNull property="cond.branch">
			and #cond.branch# =
			BRANCH
			</isNotNull>
			<isNotNull property="cond.atype">
				<isEqual property="cond.atype" compareValue="1">
					and ivaId=#cond.avalue#
  				</isEqual>
  				<isEqual property="cond.atype" compareValue="2">
					and ip=#cond.avalue#
  				</isEqual>
  				<isEqual property="cond.atype" compareValue="3">
					and name like '%$cond.avalue$%'
  				</isEqual>
			</isNotNull>
		</dynamic>
	</select>

	<select id="findTvmIvaByCount" parameterClass="page" resultClass="int">
		<![CDATA[
			SELECT COUNT(*) FROM T_VM_IVA where 1=1
		]]>
		<dynamic>
			<include refid="findIvaByPageCondition" />
		</dynamic>
	</select>
	
	
	<select id="getIvaById" parameterClass="java.lang.String" resultClass="TVmIva">
	select 
		iva.*,t_org.BRANCHNAME,t_org.MGTNAME
	from 
		T_VM_IVA iva 
	left join 
		(SELECT 
			p_org.ORGID branchID,c_org.ORGID mgtID,p_org.ORGNAME branchName,c_org.ORGNAME mgtName 
		from 
			T_AUT_ORGANIZATION p_org 
		join 
			T_AUT_ORGANIZATION c_org 
		on 
			c_org.SUPORGID=p_org.ORGID) t_org
	on 
		iva.BRANCH=t_org.BRANCHID and iva.MANAGEMENTAGENCY=t_org.MGTID 
	where 
		iva.IVAID=#IVAID#		 
	</select>
	
	<delete id="deleteIvaById" parameterClass="java.lang.String">
		delete from T_VM_IVA
		where IVAID = #id#
	</delete>
	
	<update id="updateIvaByPrimaryKeySelective" parameterClass="TVmIva">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Apr 01 
			00:04:00 CST 2015. -->
		update T_VM_IVA
		<dynamic prepend="set">
			<isNotNull property="ip" prepend=",">IP = #ip#</isNotNull>
			<isNotNull property="port" prepend=",">PORT = #port#</isNotNull>
			<isNotNull property="managementagency" prepend=",">MANAGEMENTAGENCY = #managementagency#</isNotNull>
			<isNotNull property="name" prepend=",">NAME = #name#</isNotNull>
			<isNotNull property="branch" prepend=",">BRANCH = #branch#</isNotNull>
		</dynamic>
		where IVAID = #ivaID#
	</update>
	<select id="testIvaExistById" parameterClass="java.lang.String" resultClass="int">
		select count(*) from T_VM_IVA where IVAID = #ivaID#
	</select>
</sqlMap>