<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE sqlMap 
    PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" 
    "http://www.ibatis.com/dtd/sql-map-2.dtd">
<sqlMap namespace="com.dao.videomonitor.TVmIpcDTO">

	<typeAlias alias="TVmIpcDTO" type="com.entity.videomonitor.TVmIpcDTO" />
	<typeAlias alias="IpcConfigDTO" type="com.entity.videomonitor.IpcConfigDTO" />
	<typeAlias alias="WarnInfo" type="com.entity.alarmmgt.WarnInfo" />
	
	<resultMap class="TVmIpcDTO" id="BaseResultMap1">
		<result property="ipcid" jdbcType="VARCHAR" column="IPCID" />
		<result property="userid" jdbcType="VARCHAR" column="USERID" />
		<result property="ip" jdbcType="VARCHAR" column="IP" />
		<result property="port" jdbcType="DECIMAL" column="PORT" />
		<result property="netmask" jdbcType="VARCHAR" column="NETMASK" />
		<result property="gateway" jdbcType="VARCHAR" column="GATEWAY" />
		<result property="username" jdbcType="VARCHAR" column="USERNAME" />
		<result property="password" jdbcType="VARCHAR" column="PASSWORD" />
		<result property="devname" jdbcType="VARCHAR" column="DEVNAME" />
		<result property="devfriendlyname" jdbcType="VARCHAR" column="DEVFRIENDLYNAME" />
		<result property="managementagency" jdbcType="VARCHAR" column="MANAGEMENTAGENCY" />
		<result property="ipclongitude" jdbcType="VARCHAR" column="IPCLONGITUDE" />
		<result property="ipclatitude" jdbcType="VARCHAR" column="IPCLATITUDE" />
		<result property="version" jdbcType="VARCHAR" column="VERSION" />
		<result property="branch" jdbcType="VARCHAR" column="BRANCH" />
		<result column="cordon" jdbcType="INTEGER" property="cordon" />
		<result column="highTossAct" jdbcType="INTEGER" property="highTossAct" />
		<result column="flotage" jdbcType="INTEGER" property="flotage" />
		<result column="travelToTrack" jdbcType="INTEGER" property="travelToTrack" />
	</resultMap>
	<resultMap id="BaseResultMap" class="TVmIpcDTO">
		<result column="IPCID" jdbcType="VARCHAR" property="ipcid" />
		<result column="USERID" jdbcType="VARCHAR" property="userid" />
		<result column="IP" jdbcType="VARCHAR" property="ip" />
		<result column="PORT" jdbcType="DECIMAL" property="port" />
		<result column="NETMASK" jdbcType="VARCHAR" property="netmask" />
		<result column="GATEWAY" jdbcType="VARCHAR" property="gateway" />
		<result column="USERNAME" jdbcType="VARCHAR" property="username" />
		<result column="PASSWORD" jdbcType="VARCHAR" property="password" />
		<result column="DEVNAME" jdbcType="VARCHAR" property="devname" />
		<result column="DEVFRIENDLYNAME" jdbcType="VARCHAR" property="devfriendlyname" />
		<result column="MANAGEMENTAGENCY" jdbcType="VARCHAR" property="managementagency" />
		<result column="IPCLONGITUDE" jdbcType="VARCHAR" property="ipclongitude" />
		<result column="IPCLATITUDE" jdbcType="VARCHAR" property="ipclatitude" />
		<result column="VERSION" jdbcType="VARCHAR" property="version" />
		<result column="BRANCH" jdbcType="VARCHAR" property="branch" />
		
		<result column="point" jdbcType="INTEGER" property="point" />
		<result column="cordon" jdbcType="INTEGER" property="cordon" />
		<result column="highTossAct" jdbcType="INTEGER" property="highTossAct" />
		<result column="flotage" jdbcType="INTEGER" property="flotage" />
		<result column="travelToTrack" jdbcType="INTEGER" property="travelToTrack" />
		
		
		<result column="VENDORID" property="vendor"
			javaType="com.entity.videomonitor.TVmManufacturer" resultMap="com.dao.videomonitor.TVmManufacturerMapper.BaseResultMap" />
		<result column="NVRID" property="nvr"
			javaType="com.entity.videomonitor.TVmNvr" resultMap="com.dao.videomonitor.TVmNvrMapper.BaseResultMap1"/>
	</resultMap>
	
	<select id="getAllIpcByIvaID" parameterClass="java.lang.String" resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Apr 01 
			00:04:00 CST 2015. -->

		select
		i.*,

		m.vendorName, m.desciption,iva.CORDON,iva.HIGHTOSSACT,iva.FLOTAGE,iva.TRAVELTOTRACK,
		iva.point,
		n.ip as
		nvrip,n.port as nvrport,n.netMask nvrnetMask,n.gateWay
		nvrgateWay,n.userName nvruserName2,n.password nvrpassword,n.devname
		nvrdevName,
		n.devFriendlyName nvrdevFriendlyName,
		n.diskNum nvrdiskNum, n.managementAgency
		nvrmanagementAgency,n.version nvrversion,n.branch nvrbranch,
		row_number() over(order by i.DEVNAME) rk
		from T_VM_IPC i
		left join
		T_VM_MANUFACTURER m
		on i.vendorid = m.vendorid
		left join T_VM_NVR n on
		n.nvrid = i.nvrid
		left join
		T_VM_IVAIPCMAP iva
		on i.IPCID = iva.IPCID
		where iva.IVAID=#ivaID#
		
	</select>
	
	<select id="getIpcInfoByIp" parameterClass="java.lang.String" resultClass="IpcConfigDTO">
		select 
			ipc.ip,ipc.port,ipc.USERNAME USERID,ipc.PASSWORD,ipc.DEVNAME,i.CORDON,i.FLOTAGE,i.HIGHTOSSACT,i.TRAVELTOTRACK,i.POINT preset
		from 	
			T_VM_IVAIPCMAP i 
		left join 
			T_VM_IVA iva
		on 
			i.IVAID=iva.IVAID
		left join
			T_VM_IPC ipc 
		on 
			i.IPCID=ipc.IPCID
		WHERE
		  iva.IP=#ip#
	</select>
	
	<delete id="delIpcConfigByIp" parameterClass="java.lang.String"> 
		delete from T_VM_IVAIPCMAP where IVAID in (SELECT IVAID from T_VM_IVA where ip=#ip#)
	</delete>
	
	<select id="getAlarmByIpAndPreset" parameterClass="java.util.Map" resultClass="WarnInfo">
 		SELECT
			IPC.BRANCH subComID,IPC.MANAGEMENTAGENCY mngMentID,IPC.IPCID,MAP.ZONEID
		FROM
		   T_VM_IPC ipc
		left join
		   T_LC_IPCZONEMAP map
		on
		  IPC.IPCID=MAP.IPCID
		where IPC.IP=#ipcIp# and MAP.POINT=#point#
	</select>
	
	<select id="getAlarmByAlarmCode" parameterClass="java.lang.Integer" resultClass="WarnInfo">
		SELECT
			k.ALARMCODE,k.ALARMTYPE,k.INFO remarks
		from
			T_ALM_KNOWLEDGE k
		WHERE
			k.ALARMCODE=#alarmCode#
	</select>
	
</sqlMap>